@charset "UTF-8";

.page-content a, .comments-area a {
    text-decoration: underline;
}

.alignright {
    float: right;
    margin-left: 1rem;
}

.alignleft {
    float: left;
    margin-right: 1rem;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignwide {
    margin-left: -80px;
    margin-right: -80px;
}

.alignfull {
    max-width: 100vw;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.alignfull img {
    width: 100vw;
}

.wp-caption {
    max-width: 100%;
    margin-block-end: 1.25rem;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0px;
}

.wp-caption.alignright {
    margin: 5px 0px 20px 20px;
}

.wp-caption img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption-text {
    margin: 0px;
}

.gallery-caption {
    font-size: 0.8125rem;
    line-height: 1.5;
    display: block;
    padding: 0.75rem;
    margin: 0px;
}

.pagination {
    margin: 20px auto;
}

.sticky {
    display: block;
    position: relative;
}

.bypostauthor {
    font-size: inherit;
}

.hide {
    display: none !important;
}

.post-password-form p {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.post-password-form [type="submit"] {
    margin-inline-start: 3px;
}

/**
 * Utility styles
 */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #eeeeee;
    clip: auto !important;
    clip-path: none;
    color: #333333;
    font-size: 1rem;
    line-height: normal;
    text-decoration: none;
    display: block;
    width: auto;
    height: auto;
    top: 5px;
    left: 5px;
    padding: 15px 23px 14px;
    z-index: 100000; /* Above WP toolbar. */
}

/**
 * Post item in archive pages
 */
.post .entry-title a {
    text-decoration: none;
}

.post .wp-post-image {
    object-fit: cover;
    max-height: 500px;
    width: 100%;
}

@media (max-width: 991px) {
    .post .wp-post-image {
        max-height: 400px;
    }
}

@media (max-width: 575px) {
    .post .wp-post-image {
        max-height: 300px;
    }
}

/**
 * Responsive layouts
 */
.site-header .header-inner, .site-header:not(.dynamic-header),
.site-footer .footer-inner, .site-footer:not(.dynamic-footer),
body:not([class*="elementor-page-"]) .site-main, .page-header .entry-title {
    width: 100%;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

@media (max-width: 575px) {
    .site-header .header-inner, .site-header:not(.dynamic-header),
    .site-footer .footer-inner, .site-footer:not(.dynamic-footer),
    body:not([class*="elementor-page-"]) .site-main, .page-header .entry-title {
        padding-inline-start: 10px;
        padding-inline-end: 10px;
    }
}

@media (min-width: 576px) {
    .site-header .header-inner, .site-header:not(.dynamic-header),
    .site-footer .footer-inner, .site-footer:not(.dynamic-footer),
    body:not([class*="elementor-page-"]) .site-main, .page-header .entry-title {
        max-width: 500px;
    }

    .site-header.header-full-width .header-inner {
        max-width: 100%;
    }

    .site-footer.footer-full-width .footer-inner {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .site-header .header-inner, .site-header:not(.dynamic-header),
    .site-footer .footer-inner, .site-footer:not(.dynamic-footer),
    body:not([class*="elementor-page-"]) .site-main, .page-header .entry-title {
        max-width: 600px;
    }

    .site-header.header-full-width {
        max-width: 100%;
    }

    .site-footer.footer-full-width {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .site-header .header-inner, .site-header:not(.dynamic-header),
    .site-footer .footer-inner, .site-footer:not(.dynamic-footer),
    body:not([class*="elementor-page-"]) .site-main, .page-header .entry-title {
        max-width: 800px;
    }

    .site-header.header-full-width {
        max-width: 100%;
    }

    .site-footer.footer-full-width {
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .site-header .header-inner, .site-header:not(.dynamic-header),
    .site-footer .footer-inner, .site-footer:not(.dynamic-footer),
    body:not([class*="elementor-page-"]) .site-main, .page-header .entry-title {
        max-width: 1140px;
    }

    .site-header.header-full-width {
        max-width: 100%;
    }

    .site-footer.footer-full-width {
        max-width: 100%;
    }
}

.site-header + .elementor {
    min-height: calc(100vh - 320px);
}
